{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "unicorn/prefer-node-protocol": "off",
    "node/no-extraneous-import": "off",
    "unicorn/prefer-module": "off",
    "unicorn/import-style": [
      "error",
      {
        "styles": {
          "path": {
            "namespace": true
          }
        }
      }
    ],
    "no-warning-comments": [
      "warn",
      { "terms": ["fixme", "xxx"], "location": "start" }
    ],
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error"
  }
}
