{
  "extends": [
    "oclif",
    "oclif-typescript",
    "prettier"
  ],
  "rules": {
    "unicorn/prefer-node-protocol": "off",
    "node/no-extraneous-import": "off",
    "unicorn/prefer-module": "off",
    "unicorn/import-style": [
      "error",
      {
        "styles": {
          "path": {
            "namespace": true
          }
        }
      }
    ],
    "no-warning-comments": [
      "warn",
      {
        "terms": [
          "fixme",
          "xxx"
        ],
        "location": "start"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/node-builtins": [
      "error",
      {
        "version": ">=20.0.0"
      }
    ]
  }
}
