.idea/
locales/
!locales/locales.txt

node_modules/
samples/
tmp/

*.log
*-debug.log
*-error.log
*.bak

.env.local

.nyc_output
packages/*/dist
packages/*/lib

.yarn
tsconfig.tsbuildinfo
.turbo
coverage